<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>签到</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/layer/theme/default/layer.css"/>
    <link rel="stylesheet" href="/css/layui.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/layer/layer.js"></script>
    <script src="/laydate/laydate.js"></script>
    <script src="/lay/layui.js"></script>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm">
<!--            导航-->
            <input type="hidden" id="uid" th:value="${employ.uid}">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="home" data-toggle="tab" href="#sign" role="tab" aria-controls="nav-home" aria-selected="true">打卡</a>
                <a class="nav-link" id="count" data-toggle="tab" href="#handle" role="tab" aria-controls="nav-profile" aria-selected="false">查询</a>
            </div>

            <input type="hidden" id="imgKey" th:value="${employ.imgKey}">
            <div class="tab-content" id="pills-tabContent">
                <!-- 打卡 -->
                <div class="tab-pane fade show active" id="sign" role="tabpanel" aria-labelledby="home">
                    <div class="row box">
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-body">
                                    <div style="font-weight: bolder;">
                                        公告
                                        <span th:text="${notice.employRoleName}" style="margin-left: 5px"></span>
                                        <span th:text="${notice.employ.name}" style="margin-left: 5px"></span>:
                                    </div>
                                    <hr>
                                    <div th:text="${notice.content}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--用户信息  -->
                    <div class="row box">
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <span>
                                            <img src="#" id="headImg" class="rounded-circle" style="height: 50px;width: 50px">
                                        </span>
                                        <span class="text" style="margin-left: 10px;" th:text="${employ.name}">

                                        </span>
                                    </div>
                                    <div style="float: right;" class="text">
                                        2021-3-30 20:51
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row box">
                        <div class="col-sm">
                            我的考勤
                        </div>
                    </div>
                    <!-- 打卡框 -->
                    <div class="row box">
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-body">
                                    <!-- 规定签到、签退时间 -->
                                    <div class="text">规定签到时间 <span th:text="${rule.in}"></span></div>
                                    <div class="text">规定签退时间 <span th:text="${rule.out}"></span></div>

                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                        <legend>请拍照上传您的打卡图片(jpg格式)</legend>
                                    </fieldset>
                                    <div class="layui-upload">
                                        <div class="layui-upload-list">
                                            <img class="layui-upload-img" id="demo1" style="height: 100%;width: 100%">
                                            <p id="demoText"></p>
                                        </div>
                                    </div>

                                    <!-- 打卡按钮 -->
                                    <div style="margin: 20px;">
                                        <button id="signBtn" class="btn btn-outline-success">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
                                                <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                                            </svg>
                                            打卡
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="handle" role="tabpanel" aria-labelledby="count">
                    <div class="row box">
                        <div class="col-sm">
                            <div class="card">
                                <ul class="list-group list-group-flush" id="list">
                                    <li class="list-group-item">正常签到天数:15</li>
                                    <li class="list-group-item">迟到天数:10</li>
                                    <li class="list-group-item">早退天数:5</li>
                                    <li class="list-group-item">旷工天数:10</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row box">
                        <div class="col-sm">
                            <div class="form-group">
                                <input type="text" class="form-control" id="dateTool" placeholder="输入日期查询某天记录">
                            </div>
                        </div>
                    </div>

                    <div class="row box">
                        <div class="col-sm" id="infoContent">
                            请在输入框中选择一个日期
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    //存uid
    sessionStorage.setItem("uid",$("#uid").val());
    //用户头像
    let baseUrl = "/employ/img?key=";
    let url = baseUrl+$("#imgKey").val();
    $("#headImg").attr('src',url);
    //绘制日历
    laydate.render({
        elem: '#dateTool'
        ,done: function(value, date){
            loadSignInfo(value);
        }
    });
    layui.use('upload', function(){
        let upload = layui.upload;
        let uploadInst = upload.render({
            elem: '#signBtn'
            ,accept:'file'
            ,exts:'jpg'
            ,url: 'file' //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                console.log(res)
                if (res.flag){
                    let uid = $("#uid").val();
                    let key = res.extend.key;
                    $.ajax({
                        url:'toSign',
                        method: 'post',
                        data:{
                            uid:uid,
                            key:key
                        },
                        success(info){
                            if(info.flag){
                                layer.alert('打卡成功', {
                                    skin: 'layui-layer-lan'
                                    ,closeBtn: 0
                                    ,anim: 4 //动画类型
                                });
                            }else{
                                layer.alert('打卡失败,请重试', {
                                    skin: 'layui-layer-lan'
                                    ,closeBtn: 0
                                    ,anim: 4 //动画类型
                                });
                            }
                        },
                        error:function () {
                            layer.msg("网络异常")
                        }
                    });
                }else{
                    layer.alert('打卡失败,可能是图片上传不符合要求', {
                        skin: 'layui-layer-lan'
                        ,closeBtn: 0
                        ,anim: 4 //动画类型
                    });
                }

            }
        });
    });
    //请求统计数据
    countByUid();
    // function upload() {
    //     let formObj = $("#uploadForm");
    //     let formData = new FormData(formObj[0]);
    //     $.ajax({
    //         url:'file',
    //         method:'post',
    //         data: formData,
    //         async: false,
    //         cache: false,
    //         contentType: false,
    //         processData: false,
    //         success: function (data) {
    //            if (data.flag){
    //                let uid = $("#uid").val();
    //                let key = data.extend.key;
    //                $.ajax({
    //                    url:'toSign',
    //                    method: 'post',
    //                    data:{
    //                        uid:uid,
    //                        key:key
    //                    },
    //                    success(info){
    //                        if(info.flag){
    //                            layer.alert('打卡成功', {
    //                                skin: 'layui-layer-lan'
    //                                ,closeBtn: 0
    //                                ,anim: 4 //动画类型
    //                            });
    //                        }else{
    //                            layer.alert('打卡失败,请重试', {
    //                                skin: 'layui-layer-lan'
    //                                ,closeBtn: 0
    //                                ,anim: 4 //动画类型
    //                            });
    //                        }
    //                    },
    //                    error:function () {
    //                        layer.msg("网络异常")
    //                    }
    //                });
    //                $("#upload").modal('hide');
    //            }else{
    //                layer.alert('打卡失败,可能是图片上传不符合要求', {
    //                    skin: 'layui-layer-lan'
    //                    ,closeBtn: 0
    //                    ,anim: 4 //动画类型
    //                });
    //            }
    //         },
    //     });
    // }
    function loadSignInfo(value) {
        let uid = $("#uid").val();
        $.ajax({
            url:'load',
            method:'get',
            data:{
                uid:uid,
                date:value
            },
            success:function (data) {
              if (data.flag){
                  let obj =data.extend.info;
                  let content = $("#infoContent");
                  content.empty();
                  content.append(
                      "                            <div class='infoBox'>" +
                      "                                <h3>"+value+"</h3>" +
                      "                            </div>" +
                      "                            <div class='infoBox'>" +
                      "                                打卡状态: "+obj.status+"   " +
                      "                            </div>" )
                  if (obj.signIn!=null){
                      content.append(
                          "                            <div class='infoBox'>" +
                          "                                签到时间: "+obj.signIn+"" +
                          "                            </div>" +
                          "                            <div class='infoBox'>" +
                          "                                打卡照片" +
                          "                            </div>" +
                          "                            <div class='infoBox'> " +
                          "                                <img src='"+baseUrl+obj.signInImg+"'  class='signImg'/>" +
                          "                            </div>")
                  }
                  if (obj.signOut!=null){
                      content.append(
                          "                            <div class='infoBox'>" +
                          "                                签退时间: "+obj.signOut+"" +
                          "                            </div>" +
                          "                            <div class='infoBox'>" +
                          "                                打卡照片" +
                          "                            </div>" +
                          "                            <div class='infoBox'>" +
                          "                                <img src='"+baseUrl+obj.signOutImg+"'  class='signImg'/>" +
                          "                            </div>")
                  }
              }else{
                  layer.msg("没有查询到数据")
              }
            }
        })
    }

    function countByUid() {
        let uid = $("#uid").val();
        $.ajax({
            url:'countByUid',
            method: 'get',
            data:{
                uid:uid,
            },
            success:function (data) {
                let dom = $("#list");
                dom.empty();
                dom.append("<div class=\"card-header\">本月签到数据如下</div>");
                if(data.flag){
                    let arr = data.extend.count;
                    for (let i = 0; i < arr.length; i++) {
                        dom.append("<li class=\"list-group-item\">"+arr[i].status+":"+arr[i].number+"次</li>");
                    }
                }
            },
            error:function () {
                layer.msg("网络异常")
            }
        })
    }
</script>
<style>
    .text{
        font-size: 20px;
        font-weight: bold;
        color: rgb(69, 70, 70);
    }
    .box{
        padding: 10px;
        margin-top: 5px;
    }
    #signBtn{
        display: block;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin: auto;
    }
    .signImg{
        width: 100%;
        height: 100%;
    }
    .infoBox{
        padding: 10px;
    }
</style>
</html>
